* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active {
  background-color: #19b5fe;
  color: white;
}

.accordion:before {
  content: "►";
  margin-right: 1em;
}

.active::before {
  content: "▼";
}

.panel {
  padding: 0 18px;
  max-height: 0;
  background-color: white;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;

  transition: max-height 0.2s ease-out;
  -webkit-transition: max-height 0.2s ease-out;
  -moz-transition: max-height 0.2s ease-out;
  -ms-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
}

@media screen and (max-width: 1024px) {
  .panel {
    grid-template-columns: 1fr;
  }
}

.panel img {
  min-width: 150px;
  max-width: 300px;
  height: auto;
}
